<div>
  <b>
    <center>
      Results after <%%= pluralize(<%= object_name %>.total_votes.to_i, 'vote') %>
    </center>
  </b>
</div>

<div>
  <b>Candidates:</b>
</div>

<ol>
  <%%= <%= object_name %>.options.each do |option| %>
    <li><%%= option %></li>
  <%% end %>
</ol>

<center>    
  <%%= Gchart.pie_3d(:size=>'350x150', :bar_colors=>'2F87ED', :bg=>'EEEEEE', :legend=><%= object_name %>.pie_legend, :data=><%= object_name %>.current_results_percentages, :format=>'image_tag')
</center>