<h1>New <%= object_name %></h1>

<%%= form_for(@<%= object_name %>) do |f| %>
  <%%= f.hidden_field :created_by_id, :value => current_user.id %>
  
  <%%= f.label :name %>
  <%%= f.text_field :name %>
  
  <%%= f.label :ends_at %>
  <%%= f.text_field :ends_at %>
  
  <%%= f.label :description %>
  <%%= f.text_area :description %>
  
  <%%= f.label :options %>
  <div id="options"></div>
    <%%= 2.times do %>
      <%%= render :partial => 'option_form', :locals => {:option => []} %>
    <%% end %>
  </div>
    
  <br />
  <%%= add_option_link(@<%= object_name %>, "Add an option") %>
  
  <p>
    <%%= f.submit "Create" %>
    -or-
    <%%= link_to "Cancel", <%= object_name %>s_path %>
  </p>
<%% end %>